# Claude
/.claude/settings.local.json
/.worktrees
/.mcp.json
/TASKS.md
/docs/superpowers

# Node
node_modules/

# Rust
/target
/crates/rw-napi/target
/crates/rw-napi/Cargo.lock

# napi-rs build artifacts
*.node

# RW
/.rw
rw.toml
private_key.pem
