[project]
name = "md2conf"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Mike Yumatov", email = "mike.yumatov@gmail.com" }
]
requires-python = ">=3.14"
dependencies = []

[project.scripts]
md2conf = "md2conf:main"

[build-system]
requires = ["uv_build>=0.9.9,<0.10.0"]
build-backend = "uv_build"
